input[type="text"]{
	outline: none;
	border: 2px solid black;
	border-radius: 15px;
	width: 50%;
	height: 40px;
	margin: 10px;
	text-align: center;
}

input[type="password"]{
	outline: none;
	border: 2px solid black;
	border-radius: 15px;
	width: 50%;
	height: 40px;
	margin: 10px;
	text-align: center;
}

textarea{
	outline: none;
	border: 2px solid black;
	border-radius: 15px;
	width: 60%;
	margin: 10px;
	text-align: center;
	font-size: large;
}

input[type="submit"]{
	border: 2px solid green;
	border-radius: 15px;
	margin: 10px;
	padding: 10px 20px;
	text-align: center;
}

input[type="reset"]{
	border: 2px solid red;
	border-radius: 15px;
	margin: 10px;
	padding: 10px 20px;
	text-align: center;
}
