input[type="text"]{
	outline: none;
	border: 1px solid black;
	border-radius: 4px;
	width: 50%;
	height: 25px;
	margin: 10px;
	text-align: center;
}

input[type="password"]{
	outline: none;
	border: 1px solid black;
	border-radius: 4px;
	width: 50%;
	height: 25px;
	margin: 10px;
	text-align: center;
}

textarea{
	/* outline: none; */
	border: 1px solid black;
	border-radius: 4px;
	width: 60%;
	margin: 10px;
	text-align: center;
	font-size: large;
}

input[type="submit"]{
	border: 1px solid green;
	border-radius: 4px;
	margin: 10px;
	padding: 6px 20px;
	text-align: center;
}

input[type="reset"]{
	border: 1px solid red;
	border-radius: 4px;
	margin: 10px;
	padding: 6px 20px;
	text-align: center;
}
